:root {
  /* fonts */
  --font-family-Young: "Young Serif", serif;
  --font-family-Outfit: "Outfit", sans-serif;

  /* colors */
  --color-White: hsl(0, 0%, 100%);
  --color-Stone-100: hsl(30, 54%, 90%);
  --color-Stone-150: hsl(30, 18%, 87%);
  --color-Stone-600: hsl(30, 10%, 34%);
  --color-Stone-900: hsl(24, 5%, 18%);
  --color-Brown-800: hsl(14, 45%, 36%);
  --color-Rose-800: hsl(332, 51%, 32%);
  --color-Rose-50: hsl(330, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-Stone-100);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-Outfit);
  font-weight: 400;
  margin: 0;
  color: var(--color-Stone-900);
}

.card {
  width: 100%;
  max-width: 38rem;
  background-color: var(--color-White);
  overflow: hidden;
}

.card-content {
  padding: 1rem;
}

.card img {
  width: 100%;
  height: auto;
}

.card h1 {
  font-family: var(--font-family-Young);
  font-weight: 400;
  margin: 1rem 0;
}

.card-description {
  font-size: 0.875rem;
  margin: 0.875rem 0;
}

.card-preparation {
  width: 100%;
  background-color: var(--color-Rose-50);
  border-radius: 0.625rem;
  padding: 1.25rem;
}

.card-preparation p {
  color: var(--color-Rose-800);
  font-weight: 600;
}

.card-preparation ul,
.card-preparation ol {
  margin-inline-start: 1.25rem;
}

.card-preparation li {
  margin: 0.625rem 0;
  font-size: 0.875rem;
}

.card-preparation li span {
  font-weight: 600;
}

.card-category {
  margin: 1.25rem 0;
}

.card-category ul,
.card-category ol {
  margin-inline-start: 1.25rem;
}

.card-category li {
  margin: 0.625rem 0;
  font-size: 0.875rem;
}

.card-category li span {
  font-weight: 600;
}

.card-title {
  font-size: 1.3125rem;
  font-family: var(--font-family-Young);
  font-weight: 400;
  color: var(--color-Brown-800);
}

hr {
  margin: 0.9375rem 0;
  border-color: var(--color-Stone-100);
}

.card-nutrition-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

/* Tablet and above */
@media (min-width: 48em) {
  body {
    margin: 6.25rem 0;
  }

  .card {
    border-radius: 1.25rem;
  }

  .card img {
    border-radius: 2.5rem;
    height: 18.75rem;
    padding: 1rem;
  }

  .card-preparation p {
    font-size: 1rem;
  }
}
